*{
    margin: 0%;
    padding: 0%;
}


html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.main{
    height: 150%;
    width: 70%;
    background-color: aliceblue;
    box-shadow: 1px 1px 100px black;
    border-radius: 20px;
    border-style: double;
}


.upper{
    display: flex;
}


img{
    height: 250px;
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 100px;
}


.apj h1{
    margin-top: 150px;
    margin-left: 100px;
    font-size: 50px;
}

.apj h3{
 margin-left: 440px;
}

.bio{
    margin-left: 60px;
    margin-right: 3opx;
    margin-top: 50px;
}
.bio h1{
    font-size: 50px;
}

.bio h3{
margin-right: 40px;
}

